@*@model IEnumerable<BigSchool.Models.Course>*@
@*@model BigSchool.ViewModels.CoursesViewModel*@
@{
    ViewBag.Title = "Home Page";
}


<h2>UPCOMING COURSES</h2>



<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcomingCourses)
            {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    @if (Model.ShowAction)
                            {
                                var flag = 0;
                                foreach (var item in ViewBag.ListFollowed)
                                {
                                    if (item == course.LecturerId)
                                    {
                                        flag = 1;
                                    }
                                }
                                if (flag == 0)
                                {
                                    <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-toggle-follow @course.LecturerId">Follow</button>
                                }
                                else
                                {
                                    <button data-user-id="@course.LecturerId" class="btn btn-info btn-sm js-toggle-follow @course.LecturerId">Following</button>
                                }
                            }
                </span>

                <span class="category">
                    @course.Category.Name
                </span>
                @if (Model.ShowAction)
                        {
                            var flag = 0;
                            foreach (var item in ViewBag.ListCoursesRegistered)
                            {
                                if (item == course.Id)
                                {
                                    flag = 1;
                                }
                            }
                            if (flag == 0)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance"> Going?</button>
                            }
                            else
                            {
                                <button data-course-id="@course.Id" class="btn btn-info btn-sm js-toggle-attendance"> Going</button>
                            }

                        }
            </div>
        </li>
            }
    </ul>

 @section scripts
        {
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    console.log(button.text());
                    if (button.text() == " Going?") {
                        console.log("?")
                        $.ajax({
                            url: "/api/Attendances",
                            type: "POST",
                            conntentType: "application/json",
                            data: { courseId: button.attr("data-course-id") }
                        })
                            .done(function () {
                                button
                                    .removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Going");
                            })
                            .fail(function () {
                                alert("Something failed");
                            });
                    } else {
                        $.ajax({
                            url: "/api/Attendances",
                            type: "DELETE",
                            conntentType: "application/json",
                            data: { courseId: button.attr("data-course-id") }
                        })
                            .done(function () {
                                button
                                    .removeClass("btn-info")
                                    .addClass("btn-default")
                                    .text(" Going?");
                            })
                            .fail(function () {
                                alert("Something failed");
                            })
                    }
                });
                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    console.log(button.text());
                    if (button.text() == "Follow") {
                        $.ajax({
                            url: "/api/followings",
                            type: "POST",
                            conntentType: "application/json",
                            data: { FolloweeId: button.attr("data-user-id") }
                        })
                            .done(function () {
                                var classOfFollow = "." + button.attr("data-user-id");
                                console.log(classOfFollow);
                                $(classOfFollow)
                                    .removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Following");
                            })
                            .fail(function () {
                                alert("Something failed");
                            });
                    } else {
                        $.ajax({
                            url: "/api/followings",
                            type: "DELETE",
                            conntentType: "application/json",
                            data: { FolloweeId: button.attr("data-user-id") }
                        })
                            .done(function () {
                                var classOfFollow = "." + button.attr("data-user-id");
                                console.log(classOfFollow);
                                $(classOfFollow)
                                    .removeClass("btn-info")
                                    .addClass("btn-default")
                                    .text("Follow");
                            })
                            .fail(function () {
                                alert("Something failed");
                            })
                    }
                });
            });
        </script>
    }
</div>
